/* src/app/todo-list/todo-list.component.css */
.completed {
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.task-text {
  margin-left: 10px;
}

/* Removed the .completed class */

.checkmark-container {
  display: flex;
  align-items: center;
}

.checkmark {
  margin-right: 10px; /* Adjust the space between the checkmark and the Delete button */
  color: green; /* Adjust the color as needed */
  font-size: 1.5em; /* Adjust the size as needed */
}
